<app-nav-bar></app-nav-bar>


<div class="appcontent container-fluid" style="height:100%">
    <div class="row contentArea">
        <div class='col-sm-12 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>



<footer class="footer ">
    <div class="container-fluid">
        <p class="text-muted"> 
            <i class="fa fa-copyright" aria-hidden="true"></i> {{ year }} Henrik.Binggl 
            <span class="hidden-xs">| <b>mydms application</b> | <i class="fa fa-code-fork"></i> <small><span style="color:indigo">{{ version }}</span>/<span style="color:darkviolet">{{ build }}</span>/<i style="color:darkred">{{ runtimeVersion }}</i></small>
            | <i class="fa fa-code"></i> <small><a href="/swagger-ui.html">API documentation</a></small> | <i class="fa fa-cubes"></i> <small><a href="/actuator/info">Actuator Info</a></small>
            </span>
            <span class="pull-right visiable-xs hidden-sm hidden-md hidden-lg"><strong><i class="fa fa-hashtag" aria-hidden="true"></i>
 <a href="https://login.binggl.net">{{ displayName }}</a></strong></span>
        </p>
            
        </div>
</footer>