<p-growl [value]="msgs" [life]="1500"></p-growl>

<div id="container-fluid" (window:scroll)="onScroll($event)">

  <div class="search-container">

    <div class="input-group input-group-lg">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1"
        #search
        (keyup)="onSearch(search.value)"
        >
    </div>

  </div>

  <mydms-progress></mydms-progress>

  <div *ngFor="let document of documents">

      <div class="card-container">

        <div class="card">

          <div class="download">
            <a href="/api/gdrive/file/?path={{ document.encodedFilename }}">
              <i class="fa fa-cloud-download fa-3x" aria-hidden="true"></i>
            </a>
          </div>

          <header>
            <a class="routelink" (click)="onNavigateTo(document.id)">{{ document.title }}</a>
          </header>
          <content>
            <div>
              <span *ngFor="let sender of document.senders" class="label label-success">
                <i class="fa fa-truck"></i> {{ sender | ellipsis:20 }}
              </span>
            </div>
            <div>
              <span *ngFor="let tag of document.tags" class="label label-info">
                <i class="fa fa-tag"></i> {{ tag }}
              </span>
            </div>
          </content>
          <footer>
            <a title="{{ document.dateHuman }}">{{ document.dateHuman }}</a>

            <div class="amount" *ngIf="document.amount > 0">
              &euro; {{ document.formatAmount(2, 3, '.', ',') }}
            </div>

          </footer>
        </div>
      </div>

  </div>

</div>
