/* RESET styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 200px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.no--select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

h3 {
  text-align: left;
  margin-top: 20px;
  font-weight: 500;
}

/* MAIN styles */

body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.app-layout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.fab {
  width: 56px;
  height: 56px;
  background: #6b6b6b;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 25px;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
}

.fab.active {
  background: #F44336;
}

.fab__ripple {
  position: absolute;
  left: -17px;
  bottom: -12px;
  width: 56px;
  height: 56px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  background: #fff;
  border-radius: 50%;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  transition: transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms, -webkit-transform 0.35s cubic-bezier(0, 0, 0.3, 1) 0ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: transform;
  z-index: 2;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fab:active .fab__ripple {
  opacity: 0.2;
  -webkit-transform: scale(1) translate(31%, -22%);
          transform: scale(1) translate(31%, -22%);
}

.fab__image {
  overflow: hidden;
  z-index: 3;
}

.add__card {
  margin: 40px auto;
  text-align: center;
}

.add__input {
  width: 170px;
  height: 35px;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 13px;
  display: block;
  margin: 10px auto;
}

.add__btn {
  height: 34px;
  min-width: 70px;
  margin-top: 10px;
  display: block;
  margin-left: 0;
}

.add__card ul,
.add__card li,
.share__container li {
  width: 280px;
  text-align: left;
  margin: 15px auto;
}

.add__card p {
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
}

.card span {
  display: block;
}

b i a {
  text-decoration: underline;
  color: #1E88E5;
}

.add__card ul + p {
  margin-top: 20px;
}

.card__spinner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.16);
  display: none;
}

.card__spinner::after {
  content: "Loading...";
  color: #1E88E5;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  text-align: center;
  line-height: 380px;
  font-size: 18px;
}

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

}

.loader #spinner {
    box-sizing: border-box;
    stroke: #673AB7;
    stroke-width: 3px;
    -webkit-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
            animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite;
}

.card__spinner.show {
  display: block;
}

.share__container a {
  text-decoration: underline;
  color: #1E88E5;
}

.share__container {
  margin-bottom: 50px;
}

.share {
  margin: 20px auto;
  text-align: center;
  display: block;
}

.headerButton {
    width: 24px;
    margin-right: 16px;
    overflow: hidden;
    /** opacity: 0.54; **/
    -webkit-transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    transition: opacity 0.333s cubic-bezier(0, 0, 0.21, 1);
    border: none;
    outline: none;
    cursor: pointer;
}







.ui-growl {
    position: fixed;
    top: 50px;
    right: 2px;
    width: 20em;
}

.ui-autocomplete-token {
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: .125em .5em;
    white-space: nowrap;
    position: relative;
    margin-right: .125em;
    border: 0 none;
    font-size: 12pt;
}

.ui-autocomplete {
    width: 100%;
    zoom: 1;
    cursor: pointer;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
}

.ui-inputswitch {
    height: 40px;
    width: 100px;
}

.ui-inputswitch-on {
    left: 0;
    border: 0 none;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.ui-inputswitch-off {
    left: 0;
    border: 0 none;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#Sender > span > ul > li.ui-state-highlight {
  background-color: #5bc0de;
}

#Tag > span > ul > li.ui-state-highlight {
  background-color: #337ab7;
}

