<header>
  <span class="header__icon" (click)="toggleMenu(true)">
    <svg class="menu__icon no--select" width="24px" height="24px" viewBox="0 0 48 48" fill="#fff">
      <path d="M6 36h36v-4H6v4zm0-10h36v-4H6v4zm0-14v4h36v-4H6z"></path>
    </svg>
  </span>

  <span class="header__title no--select">mydms</span>
</header>

<div class="menu"
  [ngClass]="{'menu--show': menuVisible }"
  [style.transform]="menuTransform()">
  <div class="menu__header">
    <div class="user_info">
      <i class="fa fa-user-circle" aria-hidden="true"></i> {{ userInfo.displayName }}
    </div>
  </div>
  <ul class="menu__list">
    <li><a (click)="navigateTo('')"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
    <li><a (click)="navigateTo('settings')"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a></li>
  </ul>
</div>

<div class="menu__overlay"
  (click)="toggleMenu(false)"
  [ngClass]="{'menu__overlay--show': menuVisible }"

></div>
