.app__content {
  margin-top: 60px;
}


.settings {
  padding:5px;
}

.settings > .backend-status {
  vertical-align: middle;
  height: 50px;
  padding: 5px;
}

.settings > .backend-status > .icon {
    margin-right: 30px;
    margin-top: 5px;
}

.save {
  background-color: rgb(96,125,139);
  color: white;
  font-weight: bold;
}

.footer > .container {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.site_description {
  margin-top: 30px;
  margin-bottom: 20px;
}
