<div class="app__content">

  <div class="document">

    <div class="wait">
      <mydms-progress></mydms-progress>
    </div>

    <div *ngIf="error !== ''" class="alert alert-danger" role="alert">
      <strong>{{ errorTitle }}</strong> {{ error }}.
    </div>

    <h3 *ngIf="isNewDocument === true"><i class="fa fa-plus" aria-hidden="true"></i> Create a new Document</h3>
    <h3 *ngIf="isNewDocument === false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Document</h3>
    <hr/>

    <div class="form-group">
      <md-input-container class="input-full-width">
        <input md-input placeholder="Title" [(ngModel)]="documentTitle">
      </md-input-container>
    </div>
    <div class="form-group form-group-small">
      <md-input-container class="">
        <input md-input placeholder="Amount" [(ngModel)]="documentAmount">
      </md-input-container>
    </div>

    <div class="form-group">

      <div class="uploadfile" *ngIf="uploadFileName !== ''">
          <div class="pull-left">
            <i class="fa fa-cloud-download" aria-hidden="true"></i> <a href="/api/gdrive/file/?path={{ encodedUploadFileName }}">{{ uploadFileName | ellipsis:25 }}</a>
          </div>
          <div class="pull-right">
            <i class="fa fa-times" aria-hidden="true" (click)="onClearUploadedFile()"></i>
          </div>
          <br/>
      </div>

      <p-fileUpload name="file" url="/api/upload/file" *ngIf="uploadFileName === ''"
        (onError)="onUploadError($event)"
        (onUpload)="onUploadDone($event)"
      ></p-fileUpload>

    </div>

    <div class="form-group tag-completion">
      <label for="Sender">Sender</label>
      <p-autoComplete id="Sender"
        [(ngModel)]="senders"
        [suggestions]="senderResults"
        (completeMethod)="onSearchSenders($event)"
        [multiple]="true">

        <template let-sender>
            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                {{ sender }}
            </div>
        </template>
      </p-autoComplete>
    </div>

    <div class="form-group tag-completion">
      <label for="Tags" class="optional">Tags</label>
      <p-autoComplete id="Tags"
        [(ngModel)]="tags"
        [suggestions]="tagResults"
        (completeMethod)="onSearchTags($event)"
        [multiple]="true">

        <template let-tag>
            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                {{ tag }}
            </div>
        </template>
      </p-autoComplete>
    </div>

  </div>

</div>


<footer class="footer">
  <div class="container">
    <div class="pull-left">
      <button md-raised-button (click)="onCancel()">Cancel</button>
    </div>

    <div class="pull-right">
      <button md-raised-button [disabled]="!isFormValid()" class="save" (click)="onSave()">Save</button>
    </div>
  </div>
</footer>
