<div id="container-fluid">

  <div class="document">

    <div class="wait">
      <mydms-progress></mydms-progress>
    </div>

    <div *ngIf="error !== ''" class="alert alert-danger" role="alert">
      <strong>{{ errorTitle }}</strong> {{ error }}.
    </div>

    <h3 *ngIf="this.isNewDocument === true"><i class="fa fa-plus" aria-hidden="true"></i> Create a new Document</h3>
    <h3 *ngIf="this.isNewDocument === false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Document</h3>
    <hr/>

    <div class="form-group">
      <label for="Title">Title</label>
      <input type="text" class="form-control input-lg" id="Title" placeholder="Title"
        [(ngModel)]="documentTitle"
      >
    </div>
    <div class="form-group form-group-small">
      <label for="amount" class="optional">Amount</label>
      <input type="number" class="form-control input-lg" id="amount" placeholder="Amount"
      [(ngModel)]="documentAmount"
      >
    </div>

    <div class="form-group">

      <div class="uploadfile" *ngIf="uploadFileName !== ''">
          <div class="pull-left">
            <i class="fa fa-cloud-download" aria-hidden="true"></i> <a href="/api/gdrive/file/?path={{ encodedUploadFileName }}">{{ uploadFileName | ellipsis:30 }}</a>
          </div>
          <div class="pull-right">
            <i class="fa fa-times" aria-hidden="true" (click)="onClearUploadedFile()"></i>
          </div>
          <br/>
      </div>

      <p-fileUpload name="file" url="/api/upload/file" *ngIf="uploadFileName === ''"
        (onError)="onUploadError($event)"
        (onUpload)="onUploadDone($event)"
      ></p-fileUpload>

    </div>

    <div class="form-group">
      <label for="Sender">Sender</label>
      <p-autoComplete id="Sender"
        [(ngModel)]="senders"
        [suggestions]="senderResults"
        (completeMethod)="onSearchSenders($event)"
        [multiple]="true">

        <template let-sender>
            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                {{ sender }}
            </div>
        </template>
      </p-autoComplete>
    </div>

    <div class="form-group">
      <label for="Tags" class="optional">Tags</label>
      <p-autoComplete id="Tags"
        [(ngModel)]="tags"
        [suggestions]="tagResults"
        (completeMethod)="onSearchTags($event)"
        [multiple]="true">

        <template let-tag>
            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                {{ tag }}
            </div>
        </template>
      </p-autoComplete>
    </div>

  </div>

</div>


<footer class="footer">
  <div class="container">
    <div class="pull-left">
      <button type="button" class="btn btn-default" (click)="onCancel()" >Cancel</button>
    </div>

    <div class="pull-right">
      <button type="submit" class="btn btn-success" [disabled]="!isFormValid()" (click)="onSave()" >Save</button>
    </div>
  </div>
</footer>
