<div class="row documents">

    

    <div class="document" *ngFor="let item of documents">
        <div class="card">

            <div *ngIf="item.amount" class="corner-ribbon bottom-right">
                <i class="fa fa-eur" aria-hidden="true"></i> {{ item.amount }}
            </div>

            <div class="cardheader"  (click)="editDocument(item)">
              <h4 mdTooltip="{{ item.title }}" mdTooltipPosition="below">
                  
                <i class="fa fa-file-o" aria-hidden="true"></i>
                {{ item.title | ellipsis:20 }}</h4>

            </div>

            <div class="download">
                <a href="/api/gdrive/file/?path={{ item.previewLink }}"><i class="fa fa-cloud-download fa-3x" aria-hidden="true"></i></a>
                
            </div>

            <div class="senders">
                <md-chip-list>
                    <md-chip *ngFor="let sender of item.senders"><i class="fa fa-truck" aria-hidden="true"></i> {{ sender | ellipsis: 15 }}</md-chip>
                </md-chip-list>
            </div>
            <div class="tags">
                <md-chip-list>
                    <md-chip *ngFor="let tag of item.tags"><i class="fa fa-hashtag" aria-hidden="true"></i> {{ tag | ellipsis: 15 }}</md-chip>
                </md-chip-list>
            </div>

            <div class="rightInfo" >
                <span class="infoElement">

                </span>
            </div>
            <div class="leftInfo">
                <span class="infoElement">
                    <span *ngIf="item.modified"><i class="fa fa-calendar" aria-hidden="true"></i> <span class="date">M: {{ item.modified | dfmt:"DD.MM.YYYY" }}</span>
                    <br/>
                    </span>
                    <i class="fa fa-calendar" aria-hidden="true"></i> <span class="date">C: {{ item.created | dfmt:"DD.MM.YYYY" }}</span>
                </span>
            </div>
        </div>
    </div>

    <div *ngIf="totalEntries == 0">
        <h4>No results found - either nothing is there, or your search did not return any results!</h4>
        <p>
            <button md-raised-button class="clear__search" (click)="clearSearch()"><i class="fa fa-recycle" aria-hidden="true"></i> clear the search!</button>
        </p>
    </div>

    <div *ngIf="shownResults < totalEntries">
        <p>Currently showing {{ shownResults }} result<span *ngIf="shownResults > 1">s</span> of total {{ totalEntries }}</p>
        <button md-icon-button class="more__results" (click)="showMoreResults()" mdTooltip="Load more results"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
    </div>

</div>
  

<div class="add" >
    <button md-fab (click)="addDocument()"><i class="fa fa-plus fa-2x" aria-hidden="true" mdTooltip="Add a new document" mdTooltipPosition="before"></i></button>
</div>
