<mat-card>

    <mat-card-header>
        <div mat-card-avatar class="settings__icon"><i class="fa fa-cogs fa-2x" aria-hidden="true"></i></div>
        <mat-card-title>Settings</mat-card-title>
        <mat-card-subtitle>Backend document storage connection.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/settings.jpeg">
    <mat-card-content>
    <div>

        <div class="settings">
            <hr/>

            <p class="site_description">
            Backend storage integration with Google Drive. The Link status is:
            </p>

            <div class="backend-status">

                <div class="pull-left">
                    <mat-slide-toggle [(ngModel)]="isLinked"><span *ngIf="!backendLinked"> Link</span> Google Drive backend<span *ngIf="backendLinked"> is linked</span>!</mat-slide-toggle>
                </div>
                <div class="pull-right icon">
                    <i *ngIf="backendLinked" class="fa fa-link fa-2x" aria-hidden="true"></i>
                    <i *ngIf="!backendLinked" class="fa fa-chain-broken fa-2x" aria-hidden="true"></i>
                </div>
            </div>

            <p>
                <br/>
            </p>

        </div>
    </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="onCancel()">Cancel</button>
        <button mat-raised-button class="pull-right save" (click)="onSave()">Save</button>
    </mat-card-actions>

</mat-card>